@{
    ViewBag.Title = "Arts";
}
@*<head>
    <title></title>
<style>
    body {
        background-image:url(~/Images/f.jpg);
    }
</style>
    </head>*@



<head>	
		<title></title>
		<link href="~/Content/style3.css" rel='stylesheet' type='text/css' />
		@*<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	*@	<style>
		    .p1 {
                padding-left: 30px;
		    }
            /*.p2 {
                padding-top: 10px;
		    }*/
		</style>
	</head>

<div class="p1">
<embed width="600" height="450" src="~/games/g1.swf" />
    </div>